In [12]:
import pymysql
from sqlalchemy.orm import sessionmaker
from sqlalchemy import Column, Integer, String, create_engine, Float
from sqlalchemy.ext.declarative import declarative_base

In [3]:
username = 'root'
password = 'hoshininegaiwo'
host = 'db'
dbname = 'races'

engine = create_engine('mysql+pymysql://{username}:{password}@{host}/{dbname}?charset=utf8'.format(username=username, password=password, host=host, dbname=dbname))

In [13]:
Session=sessionmaker(bind=engine)

In [5]:
#まったくわからんが、これでテーブルができる。
Base = declarative_base()
class Race(Base):
    __tablename__="testrace"
    Ecard = Column(Integer, primary_key=True)
    class_ = Column(String(255))
    name = Column(String(255))
    latitude = Column(Float)
    longitude = Column(Float)
    timestamp = Column(Float)

image_info = Race.__table__
image_info.name = 'testrace2'
image_info.create(engine)

/usr/local/lib/python3.7/site-packages/pymysql/cursors.py:170: Warning: (3719, "'utf8' is currently an alias for the character set UTF8MB3, but will be an alias for UTF8MB4 in a future release. Please consider using UTF8MB4 in order to be unambiguous.")
  result = self._query(query)

In [6]:
import pandas as pd

In [26]:
pd.read_sql_query(sql="SELECT * from testrace2;", con=engine)

   id class_   name  latitude  longitude  timestamp
0   1     ME  古田 陸太     135.0       40.0      100.0
1   3     ME  古田 陸太     135.0       40.0      100.0

In [19]:
name="古田 陸太"

result=Race()
result.id=3
result.name=name
result.class_="ME"
result.latitude=135
result.longitude=40
result.timestamp=100

In [20]:
session=Session()

In [21]:
session.add(result)

In [22]:
session.commit()